html,body {
    background-color: #090919;
    color: #ffffff;
}

.post{
    padding: 5%;
    margin-top: 2%;
    border: 2px solid cornflowerblue;
}

.left-posts-container{
    float: left;
    margin-top: 3%;
    max-width: 30%;
}

.middle-posts-container{
    max-width: 60%;
}

.right-posts-container{
    float: right;
    margin-top: 3%;
    max-width: 30%;
}

